Datatypes
--
>int - Plain integer

>long - long integer, with 'L' suffix. It is deprecated.

>float - Floating point number

>complex - Complex no, Real and Imaginary part

>boolean - True and False

>sequence - string, list, tuple

>mapping - Dictionary

>set - unordered collection of distinct objects

>file - used to make file system objects

Typecasting
--

In [1]:
# String/float to int
# type your code here2
int(3.56789)

3

In [3]:
type(2020)

int

In [4]:
type('2020')

str

In [5]:
int('2020')

2020

In [9]:
float('2020.1245')

2020.1245

In [11]:
int('C')

ValueError: invalid literal for int() with base 10: 'C'

In [10]:
int(float('2020.1245'))

2020

In [6]:
int('Darshan')

ValueError: invalid literal for int() with base 10: 'Darshan'

In [2]:
float(30)

30.0

In [ ]:
# type your code here2

In [ ]:
# type your code here1

In [12]:
# String/int to float
# type your code here3
float('12.868')

12.868

__Homework:__

As you can see I have Autocomplete feature in my NB. The NB suggests code for me.
Implement the same in your Jupyter NB.

__Hint: Use "Hinterland", use NBExtensions__

In [ ]:
# type your code here2

# int, float, list, tuple, dictionary to string
Note: [] is for list
() is for tuple
str(3.122)

In [14]:
# type your code here6
l= [1,33,43.21,"Darshan", 3+4j]
print(l)
print(type(l))

[1, 33, 43.21, 'Darshan', (3+4j)]
<class 'list'>

In [15]:
l= (1,33,43.21,"Darshan", 3+4j)
print(l)
print(type(l))

(1, 33, 43.21, 'Darshan', (3+4j))
<class 'tuple'>

In [17]:
# string, tuple, dict to list
# type your code here7
str(12.674)

'12.674'

In [18]:
str(122)

'122'

In [19]:
str([1,33,43.21,"Darshan", 3+4j])

"[1, 33, 43.21, 'Darshan', (3+4j)]"

In [20]:
str((1,33,43.21,"Darshan", 3+4j))

"(1, 33, 43.21, 'Darshan', (3+4j))"

In [21]:
# type your code here8
list("Darshan")

['D', 'a', 'r', 's', 'h', 'a', 'n']

In [22]:
tuple("Darshan")

('D', 'a', 'r', 's', 'h', 'a', 'n')

In [23]:
# type your code here1-5
# tuple in list
list((1,33,43.21,"Darshan", 3+4j))

[1, 33, 43.21, 'Darshan', (3+4j)]

In [24]:
# type your code here11
tup = (10,12,15,20)
list(tup)

[10, 12, 15, 20]

Operators
--

>Arithmetic: + - * / %
>// Floor Division
>** exponentiation

>Relational: < <= > >= != ==

>Logical: and or not

>Bitwise: & | ^ ~ << >>

>Membership: in, not in

>Identity: is,is not

In [25]:
# type your code here3
5%2

1

In [27]:
5//2

2

In [26]:
5/2

2.5

In [37]:
# type your code here9
# 5>2
# 2>89
# 3>=3
# 3==3
# 3!=3
4!=98

True

In [39]:
# type your code here3

3>1 and 5>2

True

In [40]:
3>1 and 5<2

False

In [41]:
3<1 or 5>2

True

In [44]:
# not(True)
not(False)

True

In [42]:
not(3<1 or 5>2)

False

In [45]:
# type your code here19
s = 2
t = 4
print(s&t)

0

In [46]:
s = 2
t = 4
print(s|t)

6

In [49]:
x=2
print(x<<1)
print(x<<1)
print(x<<4)

4
4
32

In [50]:
# type your code here2.0

# Membership: in, not in
l = [1,2,3,4,6,5,"Darshan"]
6 in l

True

In [51]:
100 in l

False

In [53]:
# "darshan" in l
"Darshan" in l

True

In [55]:
577 not in l

True

In [54]:
"darshan" not in l

True

In [56]:
"r" in "Darshan"

True

In [57]:
"x" in "Darshan"

False

In [ ]:
# type your code here21

In [ ]:
# type your code here22

In [60]:
# type your code here2/3
x = 4
y = 4
# x is y

x is not y

False

In [ ]:
2.4

In [ ]:
# type your code here2.5

In [85]:
l = [10,20,30,40,50,60]
print(l)
print(l[0])
print(l[5])
# print(l[55])

[10, 20, 30, 40, 50, 60]
10
60

Looping Statements:
    --

In [80]:
# type your code here4-4
l = [10,20,30,40,50,60]
for i in l:
    print(i)

10
20
30
40
50
60

In [89]:
l = [10,11,12,13,14,15,16,17,18,19,20]
for i in l:
    if i%2==0:
        print(i," is even number")
    else:
        print(i," is odd number")

10  is even number
11  is odd number
12  is even number
13  is odd number
14  is even number
15  is odd number
16  is even number
17  is odd number
18  is even number
19  is odd number
20  is even number

In [87]:
# type your code here4-5
name = ["Darshan", "Lets Upgrade", "Smart Students", "Learners", 1999, 2020]
for dell in name:
    print(dell)

Darshan
Lets Upgrade
Smart Students
Learners
1999
2020

In [ ]:
# type your code here4-6

range function:
--

>range(5): It goes from 0 to 4 to generate a sequence of numbers

>range(start, stop, stepsize): Default stepsize is 1

In [ ]:
# type your code here1*3

In [ ]:
# Program to display sum of numbers
# type your code here1.9

In [ ]:
# Program to display even numbers in given range
# type your code here

In [ ]:
# while
# type your code here4-7

In [ ]:
# type your code here5--/2

In [ ]:
# type your code here2+0

Conditional execution
--

In [65]:
# type your code here 31
x = 3
if x==3:
    print("Hi. Condition met")
    print("Lets upgrade")
    print("I am happy")

Hi. Condition met
Lets upgrade
I am happy

In [66]:
# type your code here 31
x = 3
if x==3:
    print("Hi. Condition met")
    print("Lets upgrade")
print("I am happy")

Hi. Condition met
Lets upgrade
I am happy

In [67]:
x = 99
if x==3:
    print("Hi. Condition met")
    print("Lets upgrade")
    print("I am happy")

In [68]:
x = 99
if x==3:
    print("Hi. Condition met")
    print("Lets upgrade")
print("I am happy")

I am happy

In [69]:
x = 99
if x > 3:
    print("Hi. Condition met")
    print("Lets upgrade")
print("I am happy")

Hi. Condition met
Lets upgrade
I am happy

In [72]:
x = 0
if x == 50:
    print("Party")
elif x>50:
    print("Movie")
    print("Hi")
elif x<50:
    print("Sit Chup chap at home")

Sit Chup chap at home

In [74]:
# WAP to check if the input no is even or odd
# type your code here3/3
no = 33
if no%2==0:
    print(no, " is Even")
else:
    print(no, " is Odd")

33  is Odd

In [ ]:
# type your code here34

In [ ]:
# if statement
# type your code here3.5

In [77]:
# type your code here3+9
a = 10
if a==10:
    print("a is 10")
elif a==15:
    print("a is 15")
elif a==17:
    print("a is 17")
elif a==20:
    print("a is 20")
else:
    print("a is unknown")

a is 10

In [ ]:
# Chained Conditionals
# type your code here4.0

In [79]:
# Nested Conditionals
# type your code here4*1
x = 35
if x > 35:
    print(x," is greater than 35")
else:
    if x<35:
        print(x," is less than 35")
    else:
        print(x," is equal than 35")

35  is equal than 35

In [ ]:
# Nested Conditionals
# type your code here42

If there is an else clause, it has to be at the end, but there doesnt have to be one.

In [ ]:
# break
# type your code here2+7

In [ ]:
# continue
n = (1,2,3,4,5)
# type your code here2.-9